<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gndi_sd.szzt">

    <application
        android:name="net.soluspay.cashq.utils.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name="net.soluspay.cashq.ScanCodeActivity"></activity>
        <activity android:name="net.soluspay.cashq.QRPayActivity" />
        <activity android:name="net.soluspay.cashq.ServicePayment" />
        <activity android:name="net.soluspay.cashq.AddCardActivity" />
        <activity android:name="net.soluspay.cashq.SignUpActivity" />
        <activity android:name="net.soluspay.cashq.CardActivity" />
        <activity android:name="net.soluspay.cashq.WorkingKeyActivity" />
        <activity
            android:name="net.soluspay.cashq.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="net.soluspay.cashq.ComingSoonActivity"
            android:label="Coming Soon" />
        <activity android:name="net.soluspay.cashq.BalanceInquiryActivity" />
        <activity android:name="net.soluspay.cashq.MOHEArabActivity" />
        <activity android:name="net.soluspay.cashq.MOHEActivity" />
        <activity android:name="net.soluspay.cashq.EducationActivity" />
        <activity android:name="net.soluspay.cashq.PinChangeActivity" />
        <activity android:name="net.soluspay.cashq.CashOutActivity" />
        <activity android:name="net.soluspay.cashq.CashInActivity" />
        <activity android:name="net.soluspay.cashq.VoucherActivity" />
        <activity android:name="net.soluspay.cashq.FundsTransferActivity" />
        <activity android:name="net.soluspay.cashq.TelecomActivity" />
        <activity android:name="net.soluspay.cashq.ElectricityActivity" />
        <activity
            android:name="net.soluspay.cashq.CustomsActivity"
            android:label="Customs" />
        <activity
            android:name="net.soluspay.cashq.E15Activity"
            android:label="E15" />
        <activity android:name="net.soluspay.cashq.LockActivity" />
        <activity
            android:name="net.soluspay.cashq.MerchantActivity"
            android:label="Merchant Services" />
        <activity android:name="net.soluspay.cashq.BillPaymentActivity" />
        <activity android:name="net.soluspay.cashq.MainActivity" />
        <activity
            android:name="net.soluspay.cashq.CheckoutActivity"
            android:label="Confirm" />
        <activity android:name="net.soluspay.cashq.ResultActivity" />
        <activity android:name="net.soluspay.cashq.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="web.soluspay.net" android:scheme="https" />
                <data android:host="cashq.soluspay.net" android:scheme="https" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name="net.soluspay.cashq.PurchaseActivity" />
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CLOUDPOS_MSR" />
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



</manifest>