<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gndi_sd.szzt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.tutipay.app.utils.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name="com.tutipay.app.CardIssuanceActivity"
            android:exported="true" />

        <service
            android:name="com.tutipay.app.MyTileService"
            android:icon="@drawable/image_qr"
            android:label="@string/quickpay"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity android:name="com.tutipay.app.AboutActivity" />
        <activity android:name="com.tutipay.app.BillersActivity" />
        <activity android:name="com.tutipay.app.ServicePayment" />
        <activity android:name="com.tutipay.app.AddCardActivity" />
        <activity android:name="com.tutipay.app.SignUpActivity" />
        <activity android:name="com.tutipay.app.CardActivity" />
        <activity android:name="com.tutipay.app.WorkingKeyActivity" />
        <activity
            android:name="com.tutipay.app.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.tutipay.app.ComingSoonActivity"
            android:label="Coming Soon" />
        <activity android:name="com.tutipay.app.BalanceInquiryActivity" />
        <activity android:name="com.tutipay.app.MOHEArabActivity" />
        <activity android:name="com.tutipay.app.MOHEActivity" />
        <activity android:name="com.tutipay.app.EducationActivity" />
        <activity android:name="com.tutipay.app.PinChangeActivity" />
        <activity android:name="com.tutipay.app.VoucherActivity" />
        <activity android:name="com.tutipay.app.FundsTransferActivity" />
        <activity android:name="com.tutipay.app.TelecomActivity" />
        <activity android:name="com.tutipay.app.ElectricityActivity" />
        <activity android:name="com.tutipay.app.CardCompletionActivity" />
        <activity android:name="com.tutipay.app.IPinConfirmActivity" />
        <activity
            android:name="com.tutipay.app.CustomsActivity"
            android:label="@string/customs_title" />
        <activity
            android:name="com.tutipay.app.E15Activity"
            android:label="@string/e15_service" />
        <activity android:name="com.tutipay.app.LockActivity" />
        <activity
            android:name="com.tutipay.app.MerchantActivity"
            android:label="Merchant Services" />
        <activity android:name="com.tutipay.app.BillPaymentActivity" />
        <activity android:name="com.tutipay.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="web.soluspay.net"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cashq.app"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutipay.app.CheckoutActivity"
            android:label="@string/confirm" />
        <activity android:name="com.tutipay.app.ResultActivity" />
        <activity
            android:name="com.tutipay.app.SignInActivity"
            android:noHistory="true"
            android:exported="true">
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tutipay.app.PurchaseActivity" />
        <activity android:name="com.tutipay.app.QRPayActivity" />
        <activity android:name="com.tutipay.app.ScanCodeActivity" />
        <activity android:name="com.tutipay.app.IPinActivity" />
        <activity android:name="com.tutipay.app.EditCardActivity" />
        <activity android:name="com.tutipay.app.QRWebview" />
    </application>

</manifest>